.navigation-controls {
  display: flex;
  margin-bottom: 24px;
}

.page-title {
  font-size: 16px;
}
.bold {
  font-weight: 600;
}

form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 480px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
button {
  width: 160px;
}
