<a [routerLink]="'/backup'">User settings</a>

<h2>Rod list</h2>

<div class="filters">
  <mat-form-field [appearance]="'outline'">
    <mat-label>Rod type</mat-label>
    <mat-select [value]="selectedFilterRodType()" (selectionChange)="setFilterRodType($event)">
      @for (rodTypeFilter of rodTypeFilterOptions(); track rodTypeFilter.label) {
        <mat-option [value]="rodTypeFilter.value">{{ rodTypeFilter.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field [appearance]="'outline'">
    <mat-label>Max lure weight</mat-label>
    <mat-select
      [value]="selectedFilterMaxLureWeight()"
      (selectionChange)="setFilterMaxLureWeight($event)"
    >
      @for (maxLureWeightFilter of maxLureWeightFilterOptions; track maxLureWeightFilter.label) {
        <mat-option [value]="maxLureWeightFilter.value">{{ maxLureWeightFilter.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="favorites-filter">
    <mat-slide-toggle
      [checked]="selectedFilterOnlyFavorites()"
      (change)="setFilterOnlyFavorites($event)"
      >Only favorites
    </mat-slide-toggle>
  </div>
</div>

@if (list.errorMessage()) {
  <div>{{ list.errorMessage() }}</div>
} @else {
  @for (rod of list.items(); track rod.id) {
    <app-rod-list-item [rod]="rod"></app-rod-list-item>
  } @empty {
    <p>Not found</p>
  }
}
