<div class="navigation-controls">
  <a href="" (click)="goBack($event)">Back to Rods</a>

  <div class="navigation-controls-right">
    <a [routerLink]="offerListRouter.composeRouterLink({ rodId })"> View all offers </a>

    <button
      [matButton]="'filled'"
      [routerLink]="addOfferRouter.composeRouterLink({ rodId })"
      [queryParams]="{ goBackText: 'Back to Rod' }"
    >
      Add offer
    </button>
  </div>
</div>

@if (rodStore.rod(); as rod) {
  <h3>
    {{ rod.brandId | brandName }} {{ rod.model }} Lure: {{ rod.minLureWeightGrams }} -
    {{ rod.maxLureWeightGrams }} grams, {{ rod.typeId | rodTypeName }}
  </h3>

  @for (image of rod.imageUrls || []; track image) {
    <img [src]="image" width="640px" alt="Rod" class="rod-image" />
  }

  @for (video of rod.videos || []; track video.videoId) {
    <app-video-player [metadata]="video"></app-video-player>
  }

  <app-rod-price-statistics [rodId]="rodId"></app-rod-price-statistics>
} @else if (rodStore.errorMessage(); as errorMessage) {
  <div>{{ errorMessage }}</div>
}
